body {
    text-align: center;
    background-color: rgb(126, 220, 126);
}

.Titulo {
    font: 27px italic normal;
    color: rgb(112, 112, 187);
}

.Botoes {
    padding-top: 80px;
}

.Botao {
    height: 50px;
    width: 130px;
}

.About {
    padding-top: 70px;
    padding-bottom: 50px;
}
  